.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 60px;
    z-index: 1;

    /* Animations */

    transition-timing-function: ease-in;
    transition: all 0.9s;

}

.nav_logo {
    position: fixed;
    width: 120px;
    left: 20px;
    object-fit: contain;
}

.nav_avatar {
    position: fixed;
    width: 55px;
    right: 20px;
    object-fit: contain;
}

.nav_black {
   background-color: #111; 
}