.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 40px;
    z-index: 1;

    /* Animations */

    transition-timing-function: ease-in;
    transition: all 0.9s;

}

.nav_logo {
    position: fixed;
    width: 100px;
    left: 20px;
    object-fit: contain;    
}

.nav_avatar {
    position: fixed;
    width: 38px;
    right: 20px;
    object-fit: contain;
}

.nav_black {
    /* Black 50% opacity */
    /* background-color: rgba(0, 0, 0, 0.5); */

   background-color: rgba(0, 0, 0, 0.7);; 
}